{% load static %}
<html>
    <head>
        <title>CODEMARINES</title>
<link rel="stylesheet" href="{% static 'css/rules.css' %}" type="text/css" media="all">
    </head>
    <body>
  
   
   <form method="GET" action="index2.html">
   {% for button in buttons %}
   <a href="index2.html?q={{button}}">{{button}}</a>
   {% endfor %}
   </form>
   <table border="3">
   <tr>
   <th><l1>{{Questions.question}}</l1></th>
   </tr>
  </table><br></table><br>
<hr>

<form action="compile.html" >
            <input type="submit" name="q" value="{{Questions.question_no}}"><br>
            <textarea name="codebox" style=height:400;width:805;></textarea>
            <textarea name="coderesult" style=height:400;width:430;background:black;color:blanchedalmond;></textarea>
            <br>
            
            </form>

    </body>
</html>